.logoutBtn{
	display: flex;
	height: 56px;
	justify-content: start;
	align-items: center;
	text-decoration: none;
}

.logoutBtn > i{
	font-size: 3rem;
	color: #000;
}

@media only screen and (max-width: 991px) {
	.logoutBtn{
		justify-content: center;
	}
}