.dark-accordion {
	display: flex;
	flex-direction: column;
}

.dark-accordion .accordion-item, .dark-accordion .accordion-button {
	color: rgba(255, 255, 255, 0.55) !important;
	border-radius: 0 !important;
	background: rgb(33, 37, 41) !important;
}

.dark-accordion .accordion-button:focus {
	outline: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.dark-accordion .accordion-button:not(.collapsed) {
	color: rgba(255, 255, 255, 1) !important;
	background: #414549 !important;;
}

.dark-accordion .accordion-button.collapsed {
	color: rgba(255, 255, 255, 0.55) !important;
}

.dark-accordion .accordion-button::after {
	filter: invert(100%) !important
}

.dark-accordion .accordion-body {
	padding: 0 !important;
	margin: 0 !important;;
}

.dark-accordion .accordion-body > * {
	display: block !important;
	text-decoration: none !important;;
	color: rgba(255, 255, 255, 0.55) !important;;
	padding: 1rem !important;
}

.dark-accordion .accordion-body > *:hover {
	background: #373b3f !important;
}

.dark-accordion .accordion-body .active {
	background: #373b3f !important;
}

.dark-accordion .active {
	color: white !important;
}

.sidebarItem > a {
	display: block;
	padding: 1rem;
	color: #FFFFFF8C;
	text-decoration: none;
	transition: all ease-in-out .25s;
}

.sidebarItem > a:hover {
	color: #FFFFFF;
}

.dark-accordion.centeredByVertical {
	margin-top: 7rem;
}

.addStudentBtn {
	border: none;
	background: transparent;
	font-size: 2rem;
}

@media only screen and (max-width: 991px) {
	.dark-accordion.centeredByVertical {
		margin-top: 0;
	}
}

